<div class="col-lg-10 mx-auto">
  <h3>{{description}}</h3>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark teal darken-3">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav">
        <a routerLink="employee" class="nav-item nav-link waves-light" routerLinkActive="active" mdbWavesEffect>Employees</a>
        <a routerLink="add" class="nav-item nav-link waves-light" routerLinkActive="active" mdbWavesEffect>Create</a>
        <a routerLink="findbysalary" class="nav-item nav-link waves-light" routerLinkActive="active" mdbWavesEffect>Search</a>
      </div>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>