<h4>Find By Salary</h4>
<div class="mx-auto" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <label for="minSalary">Min Salary</label>
    <span class="md-form">
      <input type="number" class="form-control" id="minSalary" required [(ngModel)]="minSalary" name="minSalary">
    </span>

    <label for="maxSalary">Max Salary</label>
    <span class="md-form">
      <input type="number" class="form-control" id="maxSalary" required [(ngModel)]="maxSalary" name="maxSalary">
    </span>

    <span class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </span>
  </form>
</div>
<hr />
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.designation}}</td>
      </tr>
    </tbody>
  </table>
</div>