<div class="card">
  <div class="card-header text-center">
    <h4>Find By Salary</h4>
  </div>
  <div class="card-body">
    <div class="table-row">
      <form (ngSubmit)="onSubmit()">
        <div class="col-lg-8 offset-lg-2">
          <div class="md-form">
            <input type="number" class="form-control" id="minSalary" required [(ngModel)]="minSalary" name="minSalary"
              mdbInputDirective>
            <label for="minSalary">Min Salary</label>
          </div>
          <div class="md-form">
            <input type="number" class="form-control" id="maxSalary" required [(ngModel)]="maxSalary" name="maxSalary"
              mdbInputDirective>
            <label for="maxSalary">Max Salary</label>
          </div>
          <div class="text-right">
            <button type="submit" class="btn-md btn teal">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive text-center col-lg-10 offset-lg-1" *ngIf="employees && employees.length">
      <hr />
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Designation</th>
          </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
          <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.designation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>