<h4>Create Employee</h4>
<div class="mx-auto" [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="md-form form-group">
      <input type="text" class="form-control" placeholder="Name" required [(ngModel)]="employee.name" name="name">
    </div>

    <div class="md-form">
      <input type="number" class="form-control" placeholder="Salary" id="salary" required [(ngModel)]="employee.salary" name="salary">
    </div>

    <div class="md-form">
      <input type="text" class="form-control" placeholder="Designation" id="designation" required [(ngModel)]="employee.designation" name="designation">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newEmployee()">Add</button>
</div>