<div class="card">
  <div class="card-header text-center">
    <h4>Create Employee</h4>
  </div>
  <div class="card-body col-lg-8 mx-auto">
    <form name="ngForm" [hidden]="submitted" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="md-form">
        <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name"
          mdbInputDirective required [mdbValidate]="false">
        <label for="name">Name</label>
      </div>
      <div class="md-form">
        <input type="number" class="validate form-control" id="salary" [(ngModel)]="employee.salary" name="salary"
          mdbInputDirective required [mdbValidate]="false">
        <label for="salary">Salary</label>
      </div>
      <div class="md-form">
        <input type="text" class="validate form-control" id="designation" [(ngModel)]="employee.designation" name="designation"
          mdbInputDirective required [mdbValidate]="false">
        <label for="designation">Designation</label>
      </div>
      <div class="text-right">
        <button type="submit" class="btn-md btn teal" value="Submit" mdbWavesEffect>Submit</button>
      </div>
    </form>
    <div class="text-center" [hidden]="!submitted">
      <p>You submitted successfully!</p>
      <button class="btn-md btn teal" (click)="newEmployee()" mdbWavesEffect>Go Back</button>
    </div>
  </div>
</div>