<div class="card-header">
    <h4>{{employee.name}}</h4>
</div>
<div class="card-body table-responsive text-right">
    <table class="table table-hover table-borderless">
        <tr>
            <th class="text-left">Salary</th>
            <td>{{employee.salary}}</td>
        </tr>
        <tr>
            <th class="text-left">Designation</th>
            <td>{{employee.designation}}</td>
        </tr>
    </table>
    <button class="btn-sm btn btn-red" (click)='deleteEmployee()' mdbWavesEffect>Delete</button>
</div>